# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
name: BazelTest

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  bazel_test:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    env:
      USE_BAZEL_VERSION: 8.5.1

    steps:
    - uses: actions/checkout@v6

    - uses: bazel-contrib/setup-bazel@0.18.0
      if: github.repository == 'google/ink'
      with:
        bazelisk-cache: true
        disk-cache: true
        repository-cache: true
        external-cache: true
        # This is maintined internally by the Ink Team at Google and requires periodic rotation
        # of these credentials. Googler admins can update the credentials by going to
        # https://console.cloud.google.com/iam-admin/serviceaccounts?project=ink-open-source
        # deleting the expired key, creating a new key in JSON format, and updating the secret in
        # https://github.com/google/ink/settings/secrets/actions. (Follow the corresponding
        # instructions for google/ink-stroke-modeler at the same time.)
        google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}

    - name: Test
      run: >
        bazel test
        ${{ github.repository == 'google/ink' &&
        '--google_default_credentials --remote_cache=https://storage.googleapis.com/ink-open-source-ci/'
        || ''}}
        --test_output=errors --keep_going //ink/...
